<div class='flex flex-col max-h-[65vh] overflow-y-auto'>
  {{#if data.length}}
    {{#each data}}
      <div class='my-2 cursor-pointer'>
        <div class="text-start">
          <p class='param-date' data-raw='{{this.date_update}}'></p>
          <h2 class='ms-3 text-sm font-medium'>Izoh: {{this.izoh}}</h2> 
          {{#if this.files.length}}
            <div class='mt-2'>
              <h3 class='text-sm font-medium'>Файллар:</h3>
              <ul class='list-disc pl-5'>
                {{#each this.files}}
                  <li>
                    <a href="/uploads/factory-param-files/{{this}}" download="{{this}}" target='_blank' class='text-blue-600 hover:underline'>{{this}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
          <hr />
          <h1></h1>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class='my-2 cursor-pointer'>
      <div class="text-start">
        <p class='param-date'></p>
        <h2 class='ms-3 text-sm font-medium'></h2>
        <hr />
        <h1 class='ms-3 text-xl text-center font-medium text-gray-500 py-4'>Izoh mavjud emas</h1>
      </div>
    </div>
  {{/if}}
</div>
<div class='border-t py-4 flex justify-end space-x-3'>
  <button
    data-tw-merge=''
    data-tw-dismiss='modal'
    type='button'
    class='transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-gray-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed border-secondary text-gray-500 dark:border-darkmode-100/40 dark:text-gray-500 [&:hover:not(:disabled)]:bg-secondary/20 [&:hover:not(:disabled)]:dark:bg-darkmode-100/10 mr-1 w-24'
  >Ёпиш</button>
</div>